.class-input {
    width: 508px;
    height: 84px;
    left: 388px;
    top: 684px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
    
    color: #2E6787;
    
    text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}