h1 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 300;
}

h3 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 30px;
}

thanks {
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;
    text-transform: none;
}

.welcome {
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 50px;
}
