body {
  width: 1440px;
  height: 2794px;

  background: #E0EBF5;
}

.footer {
  text-align: center;
  height: 100px;
}

.welcome {
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  width: 100%;
  position: relative;
  top: 50px;
}