body {
    background-color: #DBE9EE;
    margin: 0 auto;
    background : radial-gradient(#466995 0.2px, transparent 1px) 0 0 / 30px 30px, #DBE9EE;
    width: 100%;
}
  
header {
    background-color: #466995;
    border-bottom: 1px solid #466995;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 10px rgb(130, 130, 130);
}

ul {
    font-size: 14px;
    text-align: left;
    white-space: nowrap;
    text-shadow: 0 0 10px rgb(130, 130, 130);
}

img {
    height: 50px;
    width: 50px;
    margin: 0px 10px;
}

.align-left {
    float: left;
    clear: left;
}

.align-right {
    float: right;
    clear: right;
}

li {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 80px;  
}

li:hover {
    color: #DBE9EE;
}

h1 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 300;
}

h2 {
    color: #466995;
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin: 0 auto 20px auto;
}

h3 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 30px;
}

footer {
    text-align: center;
    height: 100px;
}

thanks {
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;
    text-transform: none;
}

.welcome {
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 50px;
}

.question {
    text-align: center;
    position: relative;
    padding: 10px;
    line-height: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    padding: 0px 100px
}

.grid-header {
    background-color: #e8db86;
    opacity: 90%;
    border: 1px solid #544b0e;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: #302a05;
    font-family: 'Varela Round', sans-serif;
    text-align: left;
}

.grid-item {
    background-color:#fff9c7;
    border: 1px solid #544b0e;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    color: #302a05;
    font-family: 'Varela Round', sans-serif;
    text-align: left;
}