.header {
    background-color: #466995;
    border-bottom: 1px solid #466995;
    position: absolute;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 10px rgb(130, 130, 130);
}

ul {
    font-size: 14px;
    text-align: left;
    white-space: nowrap;
    text-shadow: 0 0 10px rgb(130, 130, 130);
}

img {
    height: 50px;
    width: 50px;
    margin: 0px 10px;
}

.align-left {
    float: left;
    clear: left;
}

.align-right {
    float: right;
    clear: right;
}

li {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 80px;  
}

li:hover {
    color: #DBE9EE;
}